# Dependencies
node_modules/
package-lock.json

# Environment variables
.env
.env.local
.env.production

# Vercel
.vercel

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# Testing
coverage/

# Build outputs
dist/
build/
